<h1>Account {{ email }}</h1>
<button (click)="logout()">Выход</button>



<ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" *ngIf="isDataLoad">

</ngx-charts-bar-vertical>
