/* You can add global styles to this file, and also import other style files */
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import "../node_modules/fullcalendar-scheduler/dist/scheduler.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  overflow-x: hidden;
  overflow: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
